<%- include("includes/header"); %>

<div class="container">

    <h3>Adicionar Contato</h3>
    <hr>

    <form method="POST" action="/agenda/save">
        <div class="mb-3">
          <label for="nome" class="form-label">nome</label>
          <input type="text" class="form-control" name="nome">
        </div>
        <div class="mb-3">
            <label for="celular" class="form-label">celular</label>
            <input type="text" class="form-control"  name="celular">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">email</label>
            <input type="text" class="form-control"  name="email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="rua" class="form-label">rua</label>
            <input type="text" class="form-control"  name="rua" ">
        </div>
        <div class="mb-3">
            <label for="numero" class="form-label">numero</label>
            <input type="text" class="form-control"  name="numero" ">
        </div>
        <div class="mb-3">
            <label for="bairro" class="form-label">bairro</label>
            <input type="text" class="form-control"  name="bairro" ">
        </div>
        <div class="mb-3">
            <label for="cidade" class="form-label">cidade</label>
            <input type="text" class="form-control"  name="cidade" ">
        </div>
        <div class="mb-3">
            <label for="estado" class="form-label">estado</label>
            <input type="text" class="form-control"  name="estado" ">
        </div>
        <div class="mb-3">
            <label for="cep" class="form-label">cep</label>
            <input type="text" class="form-control"  name="cep" ">
        </div>
        <div class="mb-3">
            <label for="complemento" class="form-label">Complemento</label>
            <input type="text" class="form-control"  name="complemento" ">
        </div>
        <!-- <div class="mb-3">
          <label for="descricao" class="form-label">Descrição</label>
          <textarea class="form-control" id="descricao" name="description"></textarea>
        </div> -->
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="/agenda" class="btn btn-secondary">Cancelar</a>
    </form>
    
</div>

<%- include("includes/footer"); %>